* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.calculadora {
    display: inline-flexbox; 
    height: 736px;
    width: 414px;
    border-radius: 5px;
    background-color: #000000;
}
.calculadora h2 {
    margin-top: 8%;
    text-align: center;
    color:#E6E6E6 ;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: small;
}

.calculadora .display p {
    height: 280px;
    width: 304px;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #E6E6E6;
    font-size: 35px;
    font-family: Roboto, sans-serif;
    border-style: outset;
    border-right:#000000;
    border-left: #000000;
    border-top: #E6E6E6;
}


/*layout digitos calc*/

.digitosCalc{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:32px;
    align-items: baseline;
    margin-left: 12px;
}
.calculadora .numerosCalc{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
} 
.calculadora #nulo{
    visibility: hidden;
}
.calculadora button{
    margin: 10%;
    height: 65px;
    width: 58px;
    background-color: #000000;
    border-color: #000000;
    color: #E6E6E6;
    font-size: 20px;
    font-weight: 400, bold;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}
button:hover {
    border-color: #000000;
    color: #000000;
    background-color: #e6e6e69f;
}
.calculadora .operadoresCalc .controler{
   height: 85px;
   width: 58px;
   background-color: #141414;
   border-color: #000000;
   color: #FF7433;
   font-size: 20px;
   font-weight: 500, bold;
   font-family: Roboto, sans-serif;
   margin-top: 15px;
   cursor: pointer;
}
.operadoresCalc button.controler:hover {
    border-color: #000000;
    color: #000000;
    background-color: #FF7433;
}

